<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_sorting_select %}
<div class="sw-sorting-select">
    <component
        :is="component"
        name="sortType"
        :label="this.label || $tc('sw-cms.sorting.labelSort')"
        :value="sortingConditionConcatenation"
        :aside="this.aside"
        @update:value="onSortingChanged"
    >

        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
        {% block sw_sorting_select_options %}
        <option
            v-for="sortOption in resolvedSortOptions"
            :key="getValue(sortOption)"
            :value="getValue(sortOption)"
        >
            {{ getLabel(sortOption) }}
        </option>
        {% endblock %}
    </component>
</div>
{% endblock %}
